<div id="game">
	<template v-for="linha in linhas">
		<div v-for = "coluna in colunas" :style="{
				width: tamanho + 'px',
				height: tamanho + 'px',
				background: '#ccc',
				border: '1px solid #eee',
				position: 'absolute',
				top: linha * tamanho,
				left: coluna * tamanho,
		}"></div>
	</template>
	<div v-for="bloco in blocos" :style="{
		width: tamanho + 'px',
		height: tamanho + 'px',
		background: '#666',
		border: '1px solid #eee',
		position: 'absolute',
		top: linha * tamanho,
		left: coluna * tamanho,
}"></div>
</div>

<script src="https://unpkg.com/vue@next"></script>
<script>
Vue.createApp({
	data: () => ({
		linhas: 20,
		colunas: 20,
		tamanho: 20,
		bloco: [{ x: 1, y: 1 }]
	})
}).mount("#game")
</script>